@import "_layout.styl";
@import "_logo.styl";
@import "_menu.styl";
@import "_search.styl";
@import "sidebar/sidebar-blogroll";
// Import _posts if want to justify text-align on mobile.
// @import "../Pisces/_posts";


article.post.post-type-normal{
	background:#ebefe6f0;
}

ul#menu a{
	color:#fff;
}

nav.site-nav.site-nav-on {
   
    background-color:#ffffff03;
}