@import "_layout.styl";
@import "_logo.styl";
@import "_menu.styl";
@import "_search.styl";
@import "sidebar/sidebar-blogroll";
// Import _posts if want to justify text-align on mobile.
// @import "../Pisces/_posts";


div.header-inner {
    background: #9e5250;
    color:white;
}

#div.post-block {
    background: #dad89f;
    
}

body{
	background: #dad8d1;
}

#ul#menu.menu a{
	color:white;
}

div.headband{
	color:red;
}

nav.site-nav.site-nav-on{
	background:#dad8d1;
}

span.site-title{
	color:red;
}

.post {
   margin-top: 0px;
   margin-bottom: 80px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}